---
import BaseLayout from '../layouts/BaseLayout.astro';
import HorizontalCard from '../components/HorizontalCard.astro';
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Robert Rizzo</div>
    <div class="text-3xl py-3 font-bold">A Full Stack Software Engineer</div>
    <div class="py-2">
      <text class="text-lg">
        I'm passionate about building high quality software and solutions that
        make the web a little cooler. I love to push myself to learn new things
        and improve my skills. I'm currently working as a Senior Software
        Engineer at
        <a href="https://broadtime.com/" target="_blank" class="text-blue-500">
          Broadtime
        </a>.
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn"
        href="https://www.linkedin.com/in/robert-rizzo-0a5721200/"
        target="_blank"
      >
        Let's connect!</a
      >
      <a href="/cv" target="_blank" class="btn btn-outline ml-5">
        View full resume
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {'</>'}</div>
  </div>

  <HorizontalCard
    title="RSD MRKT"
    img="/RSD_final_whiteorange.webp"
    desc="E-commerce platform for indie stores selling vinyl records."
    url="https://rsdmrkt.com"
    badge="Broadtime"
    tags={['React', 'Express', 'MongoDB']}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Broadtime Email Service"
    img="/Broadtime_Marketing_Solutions_Logo.png"
    desc="Email service for rendering emails with dynamic content."
    url="#"
    badge="Broadtime"
    tags={['React Email', 'Express', 'TypeScript', 'Terraform']}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Space Systems"
    img="/space.png"
    desc="Large scale distributed system to support space missions."
    url="https://www.peraton.com/missions/space/"
    badge="Peraton"
    tags={['Docker', 'Kubernetes', 'Java']}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Enterprise Webapp"
    img="/intelligence.png"
    desc="REST APIs and testing suite for a large ongoing project."
    url="https://www.peraton.com/missions/intelligence/"
    badge="Peraton"
    tags={['Java', 'Spring', 'Ansible']}
  />
</BaseLayout>
